<section>
  <div class="n-main-container">
    <div class="n-title-container">
      <p class="n-title">Q&As</p>
      <%= link_to "New Q&A", new_sources_qna_path, class: "n-btn-primary" %>
    </div>
    <div class="n-table-container">
      <table class="n-table">
        <thead class="n-table-head">
          <tr>
            <th scope="col" class="n-table-head-th">
              Question
            </th>
            <th scope="col" class="n-table-head-th">
              Answer
            </th>
            <th scope="col" class="table-header-th">
              Account
            </th>
            <th scope="col" class="n-table-head-th">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @qnas.each do |qna| %>
            <tr class="n-tr">
              <th scope="row" class="n-th">
                <%= qna.question %>
              </th>
              <td class="n-td">
                <%= qna.answer %>
              </td>
              <td class="n-td">
                <%= qna.account&.name %>
              </td>
              <td class="n-td">
                <%= link_to "Edit", edit_sources_qna_path(qna), class: "n-btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
