<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Documents" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Documents</h1>
    <%= link_to "New document", new_document_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div data-controller="dropzone" class="dropzone dropzone-default dz-clickable my-5 col-span-1 rounded-lg bg-slate-50 shadow dark:bg-slate-900">
  </div>

  <ul
      role="list"
      class="grid grid-cols-1 gap-6 text-slate-900 dark:text-slate-200 sm:grid-cols-2 lg:grid-cols-2"
      >
      <% @documents.each do |document| %>
      <li class="col-span-1 rounded-lg bg-slate-50 shadow dark:bg-slate-900">
        <div class="flex w-full items-center justify-between space-x-6 p-6">
          <%= link_to document, class: "group flex-1 truncate" do %>
            <div class="flex items-center space-x-3">
              <h3
                  class="truncate text-sm font-medium text-slate-900 transition-colors group-hover:text-blue-600 dark:text-slate-200 dark:group-hover:text-blue-600"
                  >
                  <%= document.title %>
              </h3>
            </div>
            <p class="mt-1 truncate text-sm text-slate-500">
            <%= document.content.first(50) %>
            </p>
          <% end %>
          <button
              class="flex flex-shrink-0 flex-col items-center gap-y-1 rounded-lg p-1 text-xs transition-colors hover:text-blue-600 focus:text-blue-600"
              >
              <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                      d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"
                      ></path>
              </svg>
            <span></span>
          </button>
        </div>
      </li>
    <% end %>
  </ul>
</div>
