<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Documents" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Documents</h1>
    <div class="flex space-x-5">
      <%= button_to "New chat", chats_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= link_to "New document", new_document_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>

  <div data-controller="dropzone" class="dropzone dropzone-default dz-clickable my-5">
  </div>

  <div id="documents" class="min-w-full">
    <% @documents.each do |document| %>
      <%= render document %>
      <p>
        <%= link_to "Show this document", document, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
